Repository sablier-labs/v2-core: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config ./.prettierrc.yaml --write, prettier --write, bun solhint {benchmark,precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

.lintstagedrc:

{
  "*.{md,sol,toml,yaml,yml}": [
    "prettier --config ./.prettierrc.yaml --write"
  ]
}

.lintstagedrc.yml:

"*.{json,md,svg,yml}": "prettier --write"
"*.sol":
  - "bun solhint {benchmark,precompiles,script,src,tests}/**/*.sol --fix --noPrompt"
  - "forge fmt"

build: keep only one etherscan apy key in foundry.toml (#1102)
  .env.deployment.example
  foundry.toml
Due: prettier --config ./.prettierrc.yaml --write

feat: use delegate-call in withdraw-multiple (#1101)
  .solhint.json
  src/abstracts/SablierLockupBase.sol
  src/interfaces/ISablierLockupBase.sol
  tests/integration/concrete/lockup-base/withdraw-multiple/withdrawMultiple.t.sol
  tests/integration/concrete/lockup-base/withdraw-multiple/withdrawMultiple.tree
  tests/utils/Modifiers.sol
Due: prettier --config ./.prettierrc.yaml --write, prettier --write, bun solhint {benchmark,precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: refactor branches in withdrawMultiple
  tests/integration/concrete/lockup-base/withdraw-multiple/withdrawMultiple.t.sol
  tests/integration/concrete/lockup-base/withdraw-multiple/withdrawMultiple.tree
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: refactor branches in withdrawMultiple (#1104)
  tests/integration/concrete/lockup-base/withdraw-multiple/withdrawMultiple.t.sol
  tests/integration/concrete/lockup-base/withdraw-multiple/withdrawMultiple.tree
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: use simultaneously compilation
  .github/workflows/ci-deep.yml
  .github/workflows/ci-fork.yml
  .github/workflows/ci.yml
  .gitignore
  .prettierignore
  foundry.toml
  package.json
  precompiles/Precompiles.sol
  shell/prepare-artifacts.sh
  shell/update-counts.sh
  shell/update-precompiles.sh
  tests/Base.t.sol
  tests/unit/shared/Adminable.t.sol
  tests/utils/DeployOptimized.sol
  tests/utils/Precompiles.t.sol
  tests/utils/Utils.sol
Due: prettier --config ./.prettierrc.yaml --write, prettier --write, bun solhint {benchmark,precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

ci: include fork test in coverage
  .github/workflows/ci.yml
Due: prettier --config ./.prettierrc.yaml --write, prettier --write

ci: include fork test in coverage (#1107)
  .github/workflows/ci.yml
Due: prettier --config ./.prettierrc.yaml --write, prettier --write

test: update token uri tests
  tests/integration/concrete/lockup-dynamic/token-uri/tokenURI.t.sol
  tests/integration/concrete/lockup-linear/token-uri/tokenURI.t.sol
  tests/integration/concrete/lockup-tranched/token-uri/tokenURI.t.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: remove tokenURI tests for each model
  tests/integration/concrete/lockup-base/token-uri/tokenURI.t.sol
  tests/integration/concrete/lockup-base/token-uri/tokenURI.tree
  tests/integration/concrete/lockup-dynamic/token-uri/tokenURI.t.sol
  tests/integration/concrete/lockup-linear/token-uri/tokenURI.tree
  tests/integration/concrete/lockup-tranched/token-uri/tokenURI.t.sol
  tests/integration/concrete/lockup-tranched/token-uri/tokenURI.tree
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

perf: optimize NFTDescriptor contract feat: remove backward compatibility
  script/GenerateSVG.s.sol
  src/LockupNFTDescriptor.sol
  src/libraries/NFTSVG.sol
  tests/fork/NFTDescriptor.t.sol
  tests/integration/Integration.t.sol
  tests/integration/concrete/lockup-base/token-uri/tokenURI.t.sol
  tests/integration/concrete/nft-descriptor/map-symbol/mapSymbol.t.sol
  tests/integration/concrete/nft-descriptor/map-symbol/mapSymbol.tree
  tests/mocks/NFTDescriptorMock.sol
  tests/unit/concrete/nft-descriptor/generateDescription.t.sol
  tests/unit/concrete/nft-descriptor/generateName.t.sol
  tests/unit/concrete/nft-descriptor/generateSVG.t.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

perf: remove no longer needed low level call
  src/LockupNFTDescriptor.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

perf: optimize NFTDescriptor contract (#1113)
  script/GenerateSVG.s.sol
  src/LockupNFTDescriptor.sol
  src/libraries/NFTSVG.sol
  tests/fork/NFTDescriptor.t.sol
  tests/integration/Integration.t.sol
  tests/integration/concrete/lockup-base/token-uri/tokenURI.t.sol
  tests/integration/concrete/lockup-base/token-uri/tokenURI.tree
  tests/integration/concrete/lockup-dynamic/token-uri/tokenURI.t.sol
  tests/integration/concrete/lockup-linear/token-uri/tokenURI.t.sol
  tests/integration/concrete/lockup-linear/token-uri/tokenURI.tree
  tests/integration/concrete/lockup-tranched/token-uri/tokenURI.t.sol
  tests/integration/concrete/lockup-tranched/token-uri/tokenURI.tree
  tests/integration/concrete/nft-descriptor/map-symbol/mapSymbol.t.sol
  tests/integration/concrete/nft-descriptor/map-symbol/mapSymbol.tree
  tests/mocks/NFTDescriptorMock.sol
  tests/unit/concrete/nft-descriptor/generateDescription.t.sol
  tests/unit/concrete/nft-descriptor/generateName.t.sol
  tests/unit/concrete/nft-descriptor/generateSVG.t.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: update README
  README.md
Due: prettier --config ./.prettierrc.yaml --write, prettier --write

refactor: minor rewording in NFT descriptor
  src/LockupNFTDescriptor.sol
  tests/integration/concrete/lockup-base/token-uri/tokenURI.t.sol
  tests/unit/concrete/nft-descriptor/generateDescription.t.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: update README (#1115)
  README.md
Due: prettier --config ./.prettierrc.yaml --write, prettier --write

refactor: minor rewording in NFT descriptor (#1116)
  src/LockupNFTDescriptor.sol
  tests/integration/concrete/lockup-base/token-uri/tokenURI.t.sol
  tests/unit/concrete/nft-descriptor/generateDescription.t.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: decrease the optimizer runs
  foundry.toml
  package.json
Due: prettier --config ./.prettierrc.yaml --write, prettier --write

test: fix test_ConstructCreate2Salt test
  tests/utils/BaseScript.t.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: lower optimizer runs (#1117)
  foundry.toml
  package.json
  tests/utils/BaseScript.t.sol
Due: prettier --config ./.prettierrc.yaml --write, prettier --write, bun solhint {benchmark,precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: update branch in collectFees
  tests/integration/concrete/lockup-base/collect-fees/collectFees.t.sol
  tests/integration/concrete/lockup-base/collect-fees/collectFees.tree
  tests/utils/Modifiers.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: update branch in collectFees (#1118)
  tests/integration/concrete/lockup-base/collect-fees/collectFees.t.sol
  tests/integration/concrete/lockup-base/collect-fees/collectFees.tree
  tests/utils/Modifiers.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: update hyperlinks in README
  README.md
Due: prettier --config ./.prettierrc.yaml --write, prettier --write

feat: bubble up revert in batch function feat: return results in batch function test: comprehensive testing for batch with Lockup test: move allowToHook call to Integration
  src/abstracts/Batch.sol
  src/interfaces/IBatch.sol
  tests/integration/Integration.t.sol
  tests/integration/concrete/batch/batch.t.sol
  tests/integration/concrete/lockup-base/batch/batch.t.sol
  tests/integration/concrete/lockup-base/batch/batch.tree
  tests/integration/concrete/lockup-base/cancel/cancel.t.sol
  tests/integration/concrete/lockup-base/withdraw/withdraw.t.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: polish natspecs
  src/abstracts/Batch.sol
  src/interfaces/IBatch.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: unit tests for Batch
  tests/integration/concrete/batch/batch.t.sol
  tests/mocks/BatchMock.sol
  tests/unit/concrete/batch/batch.t.sol
  tests/unit/concrete/batch/batch.tree
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: polish comments
  src/abstracts/Batch.sol
  src/interfaces/IBatch.sol
  tests/integration/Integration.t.sol
  tests/integration/concrete/batch/batch.t.sol
  tests/integration/concrete/lockup-base/renounce-multiple/renounceMultiple.t.sol
  tests/integration/concrete/lockup-base/renounce-multiple/renounceMultiple.tree
  tests/integration/concrete/lockup-dynamic/LockupDynamic.t.sol
  tests/integration/concrete/lockup-linear/LockupLinear.t.sol
  tests/integration/concrete/lockup-tranched/LockupTranched.t.sol
  tests/integration/fuzz/lockup-dynamic/LockupDynamic.t.sol
  tests/integration/fuzz/lockup-linear/LockupLinear.t.sol
  tests/integration/fuzz/lockup-tranched/LockupTranched.t.sol
  tests/mocks/BatchMock.sol
  tests/unit/concrete/batch/batch.t.sol
  tests/unit/concrete/batch/batch.tree
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: fix failing test
  tests/unit/concrete/batch/batch.t.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: polish comments
  tests/integration/concrete/batch/batch.t.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: polish batch comments and tests
  src/abstracts/Batch.sol
  tests/integration/concrete/batch/batch.t.sol
  tests/unit/concrete/batch/batch.t.sol
  tests/unit/concrete/batch/batch.tree
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

feat: refactor batch to revert and return values (#1126)
  src/abstracts/Batch.sol
  src/interfaces/IBatch.sol
  tests/integration/Integration.t.sol
  tests/integration/concrete/batch/batch.t.sol
  tests/integration/concrete/lockup-base/batch/batch.t.sol
  tests/integration/concrete/lockup-base/batch/batch.tree
  tests/integration/concrete/lockup-base/cancel/cancel.t.sol
  tests/integration/concrete/lockup-base/renounce-multiple/renounceMultiple.t.sol
  tests/integration/concrete/lockup-base/renounce-multiple/renounceMultiple.tree
  tests/integration/concrete/lockup-base/withdraw/withdraw.t.sol
  tests/integration/concrete/lockup-dynamic/LockupDynamic.t.sol
  tests/integration/concrete/lockup-linear/LockupLinear.t.sol
  tests/integration/concrete/lockup-tranched/LockupTranched.t.sol
  tests/integration/fuzz/lockup-dynamic/LockupDynamic.t.sol
  tests/integration/fuzz/lockup-linear/LockupLinear.t.sol
  tests/integration/fuzz/lockup-tranched/LockupTranched.t.sol
  tests/mocks/BatchMock.sol
  tests/unit/concrete/batch/batch.t.sol
  tests/unit/concrete/batch/batch.tree
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt
