Repository sablier-labs/v2-core: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config ./.prettierrc.yaml --write, prettier --write, bun solhint {script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

.lintstagedrc:

{
  "*.{md,sol,toml,yaml,yml}": [
    "prettier --config ./.prettierrc.yaml --write"
  ]
}

.lintstagedrc.yml:

"*.{json,md,svg,yml}": "prettier --write"
"*.sol":
  - "bun solhint {script,src,tests}/**/*.sol --fix --noPrompt"
  - "forge fmt"

docs: move sections around in README
  README.md
Due: prettier --config ./.prettierrc.yaml --write, prettier --write

test: fix bug
  src/libraries/StreamingMath.sol
  tests/fork/Fork.t.sol
  tests/utils/Calculations.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: renaming of functions and variables (#1177)
  script/Init.s.sol
  shell/prepare-artifacts.sh
  src/SablierLockup.sol
  src/interfaces/ISablierBatchLockup.sol
  src/interfaces/ISablierLockup.sol
  src/libraries/Helpers.sol
  src/libraries/StreamingMath.sol
  src/types/DataTypes.sol
  tests/fork/LockupDynamic.t.sol
  tests/fork/LockupLinear.t.sol
  tests/fork/LockupTranched.t.sol
  tests/integration/concrete/lockup-linear/streamed-amount-of/streamedAmountOf.t.sol
  tests/integration/fuzz/lockup-dynamic/createWithDurationsLD.t.sol
  tests/integration/fuzz/lockup-dynamic/createWithTimestampsLD.t.sol
  tests/integration/fuzz/lockup-dynamic/streamedAmountOf.t.sol
  tests/integration/fuzz/lockup-dynamic/withdrawableAmountOf.t.sol
  tests/integration/fuzz/lockup-linear/streamedAmountOf.t.sol
  tests/integration/fuzz/lockup-linear/withdrawableAmountOf.t.sol
  tests/integration/fuzz/lockup-tranched/createWithDurationsLT.t.sol
  tests/integration/fuzz/lockup-tranched/createWithTimestampsLT.t.sol
  tests/integration/fuzz/lockup-tranched/streamedAmountOf.t.sol
  tests/integration/fuzz/lockup-tranched/withdrawableAmountOf.t.sol
  tests/invariant/Invariant.t.sol
  tests/utils/Calculations.sol
  tests/utils/DeployOptimized.t.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

script: include Lockup Tranched in Init script
  script/Init.s.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test(fork): declare initialHolderBalance as uint128
  tests/fork/Fork.t.sol
  tests/fork/Lockup.t.sol
  tests/fork/LockupDynamic.t.sol
  tests/fork/LockupLinear.t.sol
  tests/fork/LockupTranched.t.sol
  tests/integration/concrete/lockup-base/getters/getters.t.sol
  tests/integration/concrete/lockup-dynamic/create-with-durations-ld/createWithDurationsLD.t.sol
  tests/integration/concrete/lockup-dynamic/create-with-timestamps-ld/createWithTimestampsLD.t.sol
  tests/integration/concrete/lockup-linear/create-with-durations-ll/createWithDurationsLL.t.sol
  tests/integration/concrete/lockup-linear/create-with-timestamps-ll/createWithTimestampsLL.t.sol
  tests/integration/concrete/lockup-linear/get-unlock-amounts/getUnlockAmounts.t.sol
  tests/integration/concrete/lockup-tranched/create-with-durations-lt/createWithDurationsLT.t.sol
  tests/integration/concrete/lockup-tranched/create-with-timestamps-lt/createWithTimestampsLT.t.sol
  tests/integration/fuzz/lockup-dynamic/createWithDurationsLD.t.sol
  tests/integration/fuzz/lockup-dynamic/createWithTimestampsLD.t.sol
  tests/integration/fuzz/lockup-linear/createWithDurationsLL.t.sol
  tests/integration/fuzz/lockup-linear/createWithTimestampsLL.t.sol
  tests/integration/fuzz/lockup-tranched/createWithDurationsLT.t.sol
  tests/integration/fuzz/lockup-tranched/createWithTimestampsLT.t.sol
  tests/utils/Assertions.sol
  tests/utils/Defaults.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

move resetPrank above approve contract
  tests/fork/Fork.t.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: refactor fork tests to use a shared contract (#1179)
  .solhint.json
  src/libraries/StreamingMath.sol
  tests/fork/Fork.t.sol
  tests/fork/Lockup.t.sol
  tests/fork/LockupDynamic.t.sol
  tests/fork/LockupLinear.t.sol
  tests/fork/LockupTranched.t.sol
  tests/integration/concrete/lockup-base/getters/getters.t.sol
  tests/integration/concrete/lockup-dynamic/create-with-durations-ld/createWithDurationsLD.t.sol
  tests/integration/concrete/lockup-dynamic/create-with-timestamps-ld/createWithTimestampsLD.t.sol
  tests/integration/concrete/lockup-linear/create-with-durations-ll/createWithDurationsLL.t.sol
  tests/integration/concrete/lockup-linear/create-with-timestamps-ll/createWithTimestampsLL.t.sol
  tests/integration/concrete/lockup-linear/get-unlock-amounts/getUnlockAmounts.t.sol
  tests/integration/concrete/lockup-tranched/create-with-durations-lt/createWithDurationsLT.t.sol
  tests/integration/concrete/lockup-tranched/create-with-timestamps-lt/createWithTimestampsLT.t.sol
  tests/integration/fuzz/lockup-dynamic/createWithDurationsLD.t.sol
  tests/integration/fuzz/lockup-dynamic/createWithTimestampsLD.t.sol
  tests/integration/fuzz/lockup-linear/createWithDurationsLL.t.sol
  tests/integration/fuzz/lockup-linear/createWithTimestampsLL.t.sol
  tests/integration/fuzz/lockup-tranched/createWithDurationsLT.t.sol
  tests/integration/fuzz/lockup-tranched/createWithTimestampsLT.t.sol
  tests/utils/Assertions.sol
  tests/utils/Calculations.sol
  tests/utils/Defaults.sol
  tests/utils/EstimateMaxCount.sol
Due: prettier --config ./.prettierrc.yaml --write, prettier --write, bun solhint {script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

feat: implement aggregate balance logic
  foundry.toml
  src/SablierLockup.sol
  src/abstracts/SablierLockupBase.sol
  src/interfaces/ISablierLockupBase.sol
  src/libraries/Errors.sol
  tests/fork/Lockup.t.sol
  tests/integration/concrete/lockup-base/cancel/cancel.t.sol
  tests/integration/concrete/lockup-base/cancel/cancel.tree
  tests/integration/concrete/lockup-base/recover/recover.t.sol
  tests/integration/concrete/lockup-base/recover/recover.tree
  tests/integration/concrete/lockup-base/withdraw/withdraw.t.sol
  tests/integration/concrete/lockup-base/withdraw/withdraw.tree
  tests/integration/concrete/lockup-dynamic/create-with-timestamps-ld/createWithTimestampsLD.t.sol
  tests/integration/concrete/lockup-dynamic/create-with-timestamps-ld/createWithTimestampsLD.tree
  tests/integration/concrete/lockup-linear/create-with-timestamps-ll/createWithTimestampsLL.t.sol
  tests/integration/concrete/lockup-linear/create-with-timestamps-ll/createWithTimestampsLL.tree
  tests/integration/concrete/lockup-tranched/create-with-timestamps-lt/createWithTimestampsLT.t.sol
  tests/integration/concrete/lockup-tranched/create-with-timestamps-lt/createWithTimestampsLT.tree
  tests/integration/fuzz/lockup-base/cancel.t.sol
  tests/integration/fuzz/lockup-base/withdraw.t.sol
  tests/integration/fuzz/lockup-dynamic/createWithTimestampsLD.t.sol
  tests/integration/fuzz/lockup-dynamic/withdraw.t.sol
  tests/integration/fuzz/lockup-linear/createWithTimestampsLL.t.sol
  tests/integration/fuzz/lockup-tranched/createWithTimestampsLT.t.sol
  tests/integration/fuzz/lockup-tranched/withdraw.t.sol
  tests/invariant/Invariant.t.sol
  tests/invariant/handlers/LockupAdminHandler.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test(chore): correct inv string mess
  tests/invariant/Invariant.t.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: bump evm-utils
  bun.lockb
  package.json
  script/DeployDeterministicProtocol.s.sol
  script/DeployProtocol.s.sol
  script/MaxCount.s.sol
  tests/Base.t.sol
  tests/integration/concrete/nft-descriptor/safe-token-symbol/safeTokenSymbol.t.sol
  tests/invariant/handlers/BaseHandler.sol
  tests/utils/BaseScript.t.sol
  tests/utils/Defaults.sol
  tests/utils/DeployOptimized.t.sol
  tests/utils/EstimateMaxCount.sol
  tests/utils/Fuzzers.sol
  tests/utils/Utils.sol
Due: prettier --config ./.prettierrc.yaml --write, prettier --write, bun solhint {script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

some nitpicks
  src/abstracts/SablierLockupBase.sol
  tests/integration/concrete/lockup-base/cancel/cancel.t.sol
  tests/integration/concrete/lockup-base/recover/recover.t.sol
  tests/integration/concrete/lockup-base/withdraw/withdraw.t.sol
  tests/integration/concrete/lockup-dynamic/create-with-timestamps-ld/createWithTimestampsLD.t.sol
  tests/integration/concrete/lockup-linear/create-with-timestamps-ll/createWithTimestampsLL.t.sol
  tests/integration/concrete/lockup-tranched/create-with-timestamps-lt/createWithTimestampsLT.t.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

feat: erc20 recovery (#1182)
  foundry.toml
  src/SablierLockup.sol
  src/abstracts/SablierLockupBase.sol
  src/interfaces/ISablierLockupBase.sol
  src/libraries/Errors.sol
  tests/fork/Lockup.t.sol
  tests/integration/concrete/lockup-base/cancel/cancel.t.sol
  tests/integration/concrete/lockup-base/cancel/cancel.tree
  tests/integration/concrete/lockup-base/recover/recover.t.sol
  tests/integration/concrete/lockup-base/recover/recover.tree
  tests/integration/concrete/lockup-base/withdraw/withdraw.t.sol
  tests/integration/concrete/lockup-base/withdraw/withdraw.tree
  tests/integration/concrete/lockup-dynamic/create-with-timestamps-ld/createWithTimestampsLD.t.sol
  tests/integration/concrete/lockup-dynamic/create-with-timestamps-ld/createWithTimestampsLD.tree
  tests/integration/concrete/lockup-linear/create-with-timestamps-ll/createWithTimestampsLL.t.sol
  tests/integration/concrete/lockup-linear/create-with-timestamps-ll/createWithTimestampsLL.tree
  tests/integration/concrete/lockup-tranched/create-with-timestamps-lt/createWithTimestampsLT.t.sol
  tests/integration/concrete/lockup-tranched/create-with-timestamps-lt/createWithTimestampsLT.tree
  tests/integration/fuzz/lockup-base/cancel.t.sol
  tests/integration/fuzz/lockup-base/withdraw.t.sol
  tests/integration/fuzz/lockup-dynamic/createWithTimestampsLD.t.sol
  tests/integration/fuzz/lockup-dynamic/withdraw.t.sol
  tests/integration/fuzz/lockup-linear/createWithTimestampsLL.t.sol
  tests/integration/fuzz/lockup-tranched/createWithTimestampsLT.t.sol
  tests/integration/fuzz/lockup-tranched/withdraw.t.sol
  tests/invariant/Invariant.t.sol
  tests/invariant/handlers/LockupAdminHandler.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: add err arg to token assertion
  tests/integration/concrete/lockup-base/getters/getters.t.sol
  tests/integration/concrete/lockup-dynamic/create-with-durations-ld/createWithDurationsLD.t.sol
  tests/integration/concrete/lockup-dynamic/create-with-timestamps-ld/createWithTimestampsLD.t.sol
  tests/integration/concrete/lockup-linear/create-with-durations-ll/createWithDurationsLL.t.sol
  tests/integration/concrete/lockup-linear/create-with-timestamps-ll/createWithTimestampsLL.t.sol
  tests/integration/concrete/lockup-tranched/create-with-durations-lt/createWithDurationsLT.t.sol
  tests/integration/concrete/lockup-tranched/create-with-timestamps-lt/createWithTimestampsLT.t.sol
  tests/integration/fuzz/lockup-dynamic/createWithDurationsLD.t.sol
  tests/integration/fuzz/lockup-dynamic/createWithTimestampsLD.t.sol
  tests/integration/fuzz/lockup-linear/createWithDurationsLL.t.sol
  tests/integration/fuzz/lockup-linear/createWithTimestampsLL.t.sol
  tests/integration/fuzz/lockup-tranched/createWithDurationsLT.t.sol
  tests/integration/fuzz/lockup-tranched/createWithTimestampsLT.t.sol
  tests/utils/Assertions.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

Update README.md
  README.md
Due: prettier --config ./.prettierrc.yaml --write, prettier --write

Update SablierBatchLockup.sol
  src/SablierBatchLockup.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

Update Init.s.sol
  script/Init.s.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {script,src,tests}/**/*.sol --fix --noPrompt, forge fmt
