Repository sablier-labs/v2-core: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config ./.prettierrc.yaml --write, prettier --write, bun solhint {benchmark,precompiles,script,src,test}/**/*.sol --fix --noPrompt, forge fmt

docs: fix natspecs for WithdrawFees event
  src/interfaces/ISablierLockupBase.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,precompiles,script,src,test}/**/*.sol --fix --noPrompt, forge fmt

test: lil invariants
  test/invariant/Invariant.t.sol
  test/invariant/handlers/LockupHandler.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,precompiles,script,src,test}/**/*.sol --fix --noPrompt, forge fmt

docs: polish
  src/abstracts/Batch.sol
  test/Base.t.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,precompiles,script,src,test}/**/*.sol --fix --noPrompt, forge fmt

feat: make burn payable
  src/abstracts/SablierLockupBase.sol
  src/interfaces/ISablierLockupBase.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,precompiles,script,src,test}/**/*.sol --fix --noPrompt, forge fmt

refactor: rename "withdrawFees" to "collectFees"
  src/abstracts/SablierLockupBase.sol
  src/interfaces/ISablierLockupBase.sol
  test/Base.t.sol
  test/integration/concrete/lockup-base/collect-fees/collectFees.t.sol
  test/integration/concrete/lockup-base/collect-fees/collectFees.tree
  test/invariant/handlers/LockupHandler.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,precompiles,script,src,test}/**/*.sol --fix --noPrompt, forge fmt

feat: payable and eth fees (#1093)
  src/SablierLockup.sol
  src/abstracts/Batch.sol
  src/abstracts/SablierLockupBase.sol
  src/interfaces/IBatch.sol
  src/interfaces/ISablierLockup.sol
  src/interfaces/ISablierLockupBase.sol
  src/libraries/Errors.sol
  test/Base.t.sol
  test/fork/LockupDynamic.t.sol
  test/fork/LockupLinear.t.sol
  test/fork/LockupTranched.t.sol
  test/integration/concrete/lockup-base/collect-fees/collectFees.t.sol
  test/integration/concrete/lockup-base/collect-fees/collectFees.tree
  test/integration/concrete/nft-descriptor/generateAccentColor.t.sol
  test/invariant/Invariant.t.sol
  test/invariant/handlers/LockupHandler.sol
  test/mocks/Receive.sol
  test/utils/Constants.sol
  test/utils/Modifiers.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,precompiles,script,src,test}/**/*.sol --fix --noPrompt, forge fmt

feat: shape name in create lockup
  package.json
  script/Init.s.sol
  src/SablierBatchLockup.sol
  src/SablierLockup.sol
  src/libraries/Errors.sol
  src/types/DataTypes.sol
  test/fork/LockupDynamic.t.sol
  test/fork/LockupLinear.t.sol
  test/fork/LockupTranched.t.sol
  test/integration/concrete/lockup-base/create-with-timestamps/createWithTimestamps.t.sol
  test/integration/concrete/lockup-base/create-with-timestamps/createWithTimestamps.tree
  test/integration/concrete/lockup-dynamic/create-with-timestamps-ld/createWithTimestampsLD.t.sol
  test/integration/concrete/lockup-linear/create-with-timestamps-ll/createWithTimestampsLL.t.sol
  test/integration/concrete/lockup-tranched/create-with-timestamps-lt/createWithTimestampsLT.t.sol
  test/integration/fuzz/lockup-dynamic/createWithTimestampsLD.t.sol
  test/integration/fuzz/lockup-linear/createWithTimestampsLL.t.sol
  test/integration/fuzz/lockup-tranched/createWithTimestampsLT.t.sol
  test/invariant/handlers/LockupCreateHandler.sol
  test/utils/BatchLockupBuilder.sol
  test/utils/Defaults.sol
  test/utils/Modifiers.sol
Due: prettier --config ./.prettierrc.yaml --write, prettier --write, bun solhint {benchmark,precompiles,script,src,test}/**/*.sol --fix --noPrompt, forge fmt

refactor: moves shape name check to Helpers docs: uses assertive comments in natspecs test: makes default shape name with non-zero length
  script/Init.s.sol
  src/SablierLockup.sol
  src/libraries/Errors.sol
  src/libraries/Helpers.sol
  src/types/DataTypes.sol
  test/integration/concrete/lockup-base/create-with-timestamps/createWithTimestamps.t.sol
  test/integration/fuzz/lockup-dynamic/createWithTimestampsLD.t.sol
  test/integration/fuzz/lockup-linear/createWithTimestampsLL.t.sol
  test/integration/fuzz/lockup-tranched/createWithTimestampsLT.t.sol
  test/utils/Defaults.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,precompiles,script,src,test}/**/*.sol --fix --noPrompt, forge fmt

feat: shape name in create lockup (#1094)
  package.json
  script/Init.s.sol
  src/SablierBatchLockup.sol
  src/SablierLockup.sol
  src/libraries/Errors.sol
  src/libraries/Helpers.sol
  src/types/DataTypes.sol
  test/fork/LockupDynamic.t.sol
  test/fork/LockupLinear.t.sol
  test/fork/LockupTranched.t.sol
  test/integration/concrete/lockup-base/create-with-timestamps/createWithTimestamps.t.sol
  test/integration/concrete/lockup-base/create-with-timestamps/createWithTimestamps.tree
  test/integration/concrete/lockup-dynamic/create-with-timestamps-ld/createWithTimestampsLD.t.sol
  test/integration/concrete/lockup-linear/create-with-timestamps-ll/createWithTimestampsLL.t.sol
  test/integration/concrete/lockup-tranched/create-with-timestamps-lt/createWithTimestampsLT.t.sol
  test/integration/fuzz/lockup-dynamic/createWithTimestampsLD.t.sol
  test/integration/fuzz/lockup-linear/createWithTimestampsLL.t.sol
  test/integration/fuzz/lockup-tranched/createWithTimestampsLT.t.sol
  test/invariant/handlers/LockupCreateHandler.sol
  test/utils/BatchLockupBuilder.sol
  test/utils/Defaults.sol
  test/utils/Modifiers.sol
Due: prettier --config ./.prettierrc.yaml --write, prettier --write, bun solhint {benchmark,precompiles,script,src,test}/**/*.sol --fix --noPrompt, forge fmt

build: allow permission to script/
  .gitignore
  foundry.toml
  tests/fork/LockupDynamic.t.sol
  tests/fork/LockupTranched.t.sol
  tests/integration/concrete/lockup-dynamic/create-with-timestamps-ld/createWithTimestampsLD.t.sol
  tests/integration/concrete/lockup-dynamic/get-segments/getSegments.t.sol
  tests/integration/concrete/lockup-tranched/create-with-durations-lt/createWithDurationsLT.t.sol
  tests/integration/concrete/lockup-tranched/create-with-timestamps-lt/createWithTimestampsLT.t.sol
  tests/integration/concrete/lockup-tranched/get-tranches/getTranches.t.sol
  tests/integration/fuzz/lockup-dynamic/createWithDurationsLD.t.sol
  tests/integration/fuzz/lockup-dynamic/createWithTimestampsLD.t.sol
  tests/integration/fuzz/lockup-tranched/createWithDurationsLT.t.sol
  tests/integration/fuzz/lockup-tranched/createWithTimestampsLT.t.sol
  tests/utils/Assertions.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,precompiles,script,src,test}/**/*.sol --fix --noPrompt, forge fmt

build: allow permission to script/ (#1096)
  .gitignore
  foundry.toml
  tests/fork/LockupDynamic.t.sol
  tests/fork/LockupTranched.t.sol
  tests/integration/concrete/lockup-dynamic/create-with-timestamps-ld/createWithTimestampsLD.t.sol
  tests/integration/concrete/lockup-dynamic/get-segments/getSegments.t.sol
  tests/integration/concrete/lockup-tranched/create-with-durations-lt/createWithDurationsLT.t.sol
  tests/integration/concrete/lockup-tranched/create-with-timestamps-lt/createWithTimestampsLT.t.sol
  tests/integration/concrete/lockup-tranched/get-tranches/getTranches.t.sol
  tests/integration/fuzz/lockup-dynamic/createWithDurationsLD.t.sol
  tests/integration/fuzz/lockup-dynamic/createWithTimestampsLD.t.sol
  tests/integration/fuzz/lockup-tranched/createWithDurationsLT.t.sol
  tests/integration/fuzz/lockup-tranched/createWithTimestampsLT.t.sol
  tests/utils/Assertions.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,precompiles,script,src,test}/**/*.sol --fix --noPrompt, forge fmt

chore: improve wording in explanatory comments
  src/LockupNFTDescriptor.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,precompiles,script,src,test}/**/*.sol --fix --noPrompt, forge fmt

test: move below getToken in getters tree
  tests/integration/concrete/lockup-base/getters/getters.tree
Due: none

chore: reordering
  tests/utils/Modifiers.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,precompiles,script,src,test}/**/*.sol --fix --noPrompt, forge fmt

shub feedback
  src/LockupNFTDescriptor.sol
  tests/fork/tokens/DAI.t.sol
  tests/fork/tokens/EURS.t.sol
  tests/fork/tokens/SHIB.t.sol
  tests/fork/tokens/USDC.t.sol
  tests/fork/tokens/USDT.t.sol
  tests/integration/concrete/nft-descriptor/safe-token-decimals/safeTokenDecimals.t.sol
  tests/integration/concrete/nft-descriptor/safe-token-decimals/safeTokenDecimals.tree
  tests/integration/concrete/nft-descriptor/safe-token-symbol/safeTokenSymbol.t.sol
  tests/integration/concrete/nft-descriptor/safe-token-symbol/safeTokenSymbol.tree
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,precompiles,script,src,test}/**/*.sol --fix --noPrompt, forge fmt

style: add ascii art in batch lockup
  src/SablierBatchLockup.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,precompiles,script,src,test}/**/*.sol --fix --noPrompt, forge fmt

style: add ascii art in batch lockup (#1098)
  src/SablierBatchLockup.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,precompiles,script,src,test}/**/*.sol --fix --noPrompt, forge fmt

refactor: getUnderlyingToken
  src/LockupNFTDescriptor.sol
  src/abstracts/SablierLockupBase.sol
  src/interfaces/ISablierLockupBase.sol
  tests/fork/LockupDynamic.t.sol
  tests/fork/LockupLinear.t.sol
  tests/fork/LockupTranched.t.sol
  tests/integration/concrete/lockup-base/getters/getters.t.sol
  tests/integration/concrete/lockup-base/getters/getters.tree
  tests/integration/concrete/lockup-dynamic/create-with-durations-ld/createWithDurationsLD.t.sol
  tests/integration/concrete/lockup-dynamic/create-with-timestamps-ld/createWithTimestampsLD.t.sol
  tests/integration/concrete/lockup-linear/create-with-durations-ll/createWithDurationsLL.t.sol
  tests/integration/concrete/lockup-linear/create-with-timestamps-ll/createWithTimestampsLL.t.sol
  tests/integration/concrete/lockup-tranched/create-with-durations-lt/createWithDurationsLT.t.sol
  tests/integration/concrete/lockup-tranched/create-with-timestamps-lt/createWithTimestampsLT.t.sol
  tests/integration/fuzz/lockup-dynamic/createWithDurationsLD.t.sol
  tests/integration/fuzz/lockup-dynamic/createWithTimestampsLD.t.sol
  tests/integration/fuzz/lockup-linear/createWithDurationsLL.t.sol
  tests/integration/fuzz/lockup-linear/createWithTimestampsLL.t.sol
  tests/integration/fuzz/lockup-tranched/createWithDurationsLT.t.sol
  tests/integration/fuzz/lockup-tranched/createWithTimestampsLT.t.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,precompiles,script,src,test}/**/*.sol --fix --noPrompt, forge fmt

refactor: say just shape
  src/libraries/Errors.sol
  src/libraries/Helpers.sol
  src/types/DataTypes.sol
  tests/integration/concrete/lockup-base/create-with-timestamps/createWithTimestamps.t.sol
  tests/integration/concrete/lockup-base/create-with-timestamps/createWithTimestamps.tree
  tests/integration/concrete/lockup-dynamic/create-with-timestamps-ld/createWithTimestampsLD.t.sol
  tests/integration/concrete/lockup-linear/create-with-timestamps-ll/createWithTimestampsLL.t.sol
  tests/integration/concrete/lockup-tranched/create-with-timestamps-lt/createWithTimestampsLT.t.sol
  tests/integration/fuzz/lockup-dynamic/createWithTimestampsLD.t.sol
  tests/integration/fuzz/lockup-linear/createWithTimestampsLL.t.sol
  tests/integration/fuzz/lockup-tranched/createWithTimestampsLT.t.sol
  tests/utils/Defaults.sol
  tests/utils/Modifiers.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,precompiles,script,src,test}/**/*.sol --fix --noPrompt, forge fmt

refactor: reverse order of "shape" param
  script/Init.s.sol
  src/SablierBatchLockup.sol
  src/SablierLockup.sol
  src/libraries/Helpers.sol
  src/types/DataTypes.sol
  tests/fork/LockupDynamic.t.sol
  tests/fork/LockupLinear.t.sol
  tests/fork/LockupTranched.t.sol
  tests/integration/fuzz/lockup-dynamic/createWithTimestampsLD.t.sol
  tests/integration/fuzz/lockup-linear/createWithTimestampsLL.t.sol
  tests/integration/fuzz/lockup-tranched/createWithTimestampsLT.t.sol
  tests/utils/BatchLockupBuilder.sol
  tests/utils/Defaults.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,precompiles,script,src,test}/**/*.sol --fix --noPrompt, forge fmt

refactor: shape param (#1100)
  script/Init.s.sol
  src/SablierBatchLockup.sol
  src/SablierLockup.sol
  src/libraries/Errors.sol
  src/libraries/Helpers.sol
  src/types/DataTypes.sol
  tests/fork/LockupDynamic.t.sol
  tests/fork/LockupLinear.t.sol
  tests/fork/LockupTranched.t.sol
  tests/integration/concrete/lockup-base/create-with-timestamps/createWithTimestamps.t.sol
  tests/integration/concrete/lockup-base/create-with-timestamps/createWithTimestamps.tree
  tests/integration/concrete/lockup-dynamic/create-with-timestamps-ld/createWithTimestampsLD.t.sol
  tests/integration/concrete/lockup-linear/create-with-timestamps-ll/createWithTimestampsLL.t.sol
  tests/integration/concrete/lockup-tranched/create-with-timestamps-lt/createWithTimestampsLT.t.sol
  tests/integration/fuzz/lockup-dynamic/createWithTimestampsLD.t.sol
  tests/integration/fuzz/lockup-linear/createWithTimestampsLL.t.sol
  tests/integration/fuzz/lockup-tranched/createWithTimestampsLT.t.sol
  tests/utils/BatchLockupBuilder.sol
  tests/utils/Defaults.sol
  tests/utils/Modifiers.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,precompiles,script,src,test}/**/*.sol --fix --noPrompt, forge fmt

feat: use try-catch statement in withdraw-multiple
  src/abstracts/SablierLockupBase.sol
  src/interfaces/ISablierLockupBase.sol
  tests/integration/concrete/lockup-base/withdraw-multiple/withdrawMultiple.t.sol
  tests/integration/concrete/lockup-base/withdraw-multiple/withdrawMultiple.tree
  tests/utils/Modifiers.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,precompiles,script,src,test}/**/*.sol --fix --noPrompt, forge fmt

refactor: rename error message to InvalidWithdrawInWithdrawMultiple
  src/abstracts/SablierLockupBase.sol
  src/interfaces/ISablierLockupBase.sol
  tests/integration/concrete/lockup-base/withdraw-multiple/withdrawMultiple.t.sol
  tests/integration/concrete/lockup-base/withdraw-multiple/withdrawMultiple.tree
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,precompiles,script,src,test}/**/*.sol --fix --noPrompt, forge fmt

build: change "latest" version with 1.5.1
  hardhat.config.ts
Due: none

docs: improve writing in comments
  src/abstracts/SablierLockupBase.sol
  src/interfaces/ISablierLockupBase.sol
  tests/integration/concrete/lockup-base/withdraw-multiple/withdrawMultiple.t.sol
  tests/integration/concrete/lockup-base/withdraw-multiple/withdrawMultiple.tree
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,precompiles,script,src,test}/**/*.sol --fix --noPrompt, forge fmt

use delegatecall in withdrawMultiple
  .solhint.json
  src/abstracts/SablierLockupBase.sol
  src/interfaces/ISablierLockupBase.sol
  tests/integration/concrete/lockup-base/withdraw-multiple/withdrawMultiple.t.sol
Due: prettier --config ./.prettierrc.yaml --write, prettier --write, bun solhint {benchmark,precompiles,script,src,test}/**/*.sol --fix --noPrompt, forge fmt

build: keep only one etherscan apy key in foundry.toml
  .env.deployment.example
  foundry.toml
Due: prettier --config ./.prettierrc.yaml --write

test: simplify withdrawMultiple tests
  tests/integration/concrete/lockup-base/withdraw-multiple/withdrawMultiple.t.sol
  tests/integration/concrete/lockup-base/withdraw-multiple/withdrawMultiple.tree
  tests/utils/Modifiers.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,precompiles,script,src,test}/**/*.sol --fix --noPrompt, forge fmt

Path conditions:
  prettier --config ./.prettierrc.yaml --write: any of: *.{md,sol,toml,yaml,yml}
  prettier --write: any of: *.{json,md,svg,yml}
  bun solhint {benchmark,precompiles,script,src,test}/**/*.sol --fix --noPrompt: any of: *.sol
  forge fmt: any of: *.sol
