Repository sablier-labs/v2-core: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config ./.prettierrc.yaml --write, prettier --write, bun solhint {benchmark,precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

.lintstagedrc:

{
  "*.{md,sol,toml,yaml,yml}": [
    "prettier --config ./.prettierrc.yaml --write"
  ]
}

.lintstagedrc.yml:

"*.{json,md,svg,yml}": "prettier --write"
"*.sol":
  - "bun solhint {benchmark,precompiles,script,src,tests}/**/*.sol --fix --noPrompt"
  - "forge fmt"

docs: separate assumptions
  src/libraries/VestingMath.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

Merge pull request #1140 from sablier-labs/docs/nitpicks
  src/libraries/Errors.sol
  src/libraries/Helpers.sol
  src/libraries/VestingMath.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: natspec nitpick (#1143)
  src/libraries/Errors.sol
  src/libraries/Helpers.sol
  src/libraries/VestingMath.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: natspec nitpick
  src/libraries/VestingMath.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: lower the optimizer_runs to fit within the size limit
  foundry.toml
Due: prettier --config ./.prettierrc.yaml --write

build: set optimizer runs to 570 chore: update precompiles, gas benchmarks and max segment value in base script
  benchmark/results/SablierBatchLockup.md
  benchmark/results/SablierLockup_Dynamic.md
  benchmark/results/SablierLockup_Linear.md
  benchmark/results/SablierLockup_Tranched.md
  foundry.toml
  precompiles/Precompiles.sol
  script/Base.s.sol
Due: prettier --config ./.prettierrc.yaml --write, prettier --write, bun solhint {benchmark,precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: lower optimizer runs (#1144)
  benchmark/results/SablierBatchLockup.md
  benchmark/results/SablierLockup_Dynamic.md
  benchmark/results/SablierLockup_Linear.md
  benchmark/results/SablierLockup_Tranched.md
  foundry.toml
  precompiles/Precompiles.sol
  script/Base.s.sol
Due: prettier --config ./.prettierrc.yaml --write, prettier --write, bun solhint {benchmark,precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

script: delete DeploymentLogger
  script/Base.s.sol
  script/DeployDeterministicProtocol.s.sol
  script/DeployProtocol.s.sol
  script/DeploymentLogger.s.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: add changelog for v2.0.0
  CHANGELOG.md
Due: prettier --config ./.prettierrc.yaml --write, prettier --write

chore: update arbitrum RPC url
  .gitignore
  foundry.toml
Due: prettier --config ./.prettierrc.yaml --write

chore: remove unneeded ignored file
  .gitignore
Due: none

docs: polish changelog
  CHANGELOG.md
Due: prettier --config ./.prettierrc.yaml --write, prettier --write

docs: remove unneeded Breaking
  CHANGELOG.md
Due: prettier --config ./.prettierrc.yaml --write, prettier --write

docs: small polish
  CHANGELOG.md
Due: prettier --config ./.prettierrc.yaml --write, prettier --write

script: delete DeploymentLogger (#1152)
  .gitignore
  script/Base.s.sol
  script/DeployDeterministicProtocol.s.sol
  script/DeployProtocol.s.sol
  script/DeploymentLogger.s.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: fix removed point
  CHANGELOG.md
Due: prettier --config ./.prettierrc.yaml --write, prettier --write

fix sentence
  CHANGELOG.md
Due: prettier --config ./.prettierrc.yaml --write, prettier --write

docs: changelog for v2.0.0 (#1153)
  CHANGELOG.md
Due: prettier --config ./.prettierrc.yaml --write, prettier --write

build: replace placeholder with deployed libraries
  foundry.toml
  tests/utils/DeployOptimized.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

update deploy optimised code
  foundry.toml
  precompiles/Precompiles.sol
  shell/update-precompiles.sh
  tests/Base.t.sol
  tests/utils/DeployOptimized.sol
  tests/utils/Precompiles.t.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: remove precompiles
  .lintstagedrc.yml
  CHANGELOG.md
  codecov.yml
  package.json
  precompiles/Precompiles.sol
  shell/update-precompiles.sh
  tests/Base.t.sol
  tests/mocks/NFTDescriptorMock.sol
  tests/utils/DeployOptimized.sol
  tests/utils/Precompiles.t.sol
Due: prettier --config ./.prettierrc.yaml --write, prettier --write, bun solhint {benchmark,precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: add explanatory comment in deployOptimizedLockup
  tests/utils/DeployOptimized.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: generate placeholders from library name
  tests/utils/DeployOptimized.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: automate libraries linkage and remove precompiles (#1158)
  .lintstagedrc.yml
  CHANGELOG.md
  codecov.yml
  foundry.toml
  package.json
  precompiles/Precompiles.sol
  shell/update-precompiles.sh
  tests/mocks/NFTDescriptorMock.sol
  tests/utils/DeployOptimized.sol
  tests/utils/Precompiles.t.sol
Due: prettier --config ./.prettierrc.yaml --write, prettier --write, bun solhint {benchmark,precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: add more endpoints
  foundry.toml
Due: prettier --config ./.prettierrc.yaml --write

build: add more endpoints (#1161)
  foundry.toml
Due: prettier --config ./.prettierrc.yaml --write

docs: update v2.0.0 date in CHANGELOG
  CHANGELOG.md
Due: prettier --config ./.prettierrc.yaml --write, prettier --write

docs: update v2.0.0 date in CHANGELOG (#1163)
  CHANGELOG.md
Due: prettier --config ./.prettierrc.yaml --write, prettier --write

feat: abstract chain support
  deploy/deploy.ts
  hardhat.config.ts
Due: none

test: use mainnet address in fork testing
  tests/fork/Fork.t.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

script: fix run modifiers
  script/DeployBatchLockup.t.sol
  script/DeployDeterministicBatchLockup.t.sol
  script/DeployDeterministicLockup.s.sol
  script/DeployDeterministicNFTDescriptor.s.sol
  script/DeployDeterministicProtocol.s.sol
  script/DeployLockup.s.sol
  script/DeployNFTDescriptor.s.sol
  script/DeployProtocol.s.sol
  script/GenerateSVG.s.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: generate token holder locally in fork tests
  tests/fork/Fork.t.sol
  tests/fork/LockupDynamic.t.sol
  tests/fork/LockupLinear.t.sol
  tests/fork/LockupTranched.t.sol
  tests/fork/tokens/DAI.t.sol
  tests/fork/tokens/EURS.t.sol
  tests/fork/tokens/SHIB.t.sol
  tests/fork/tokens/USDC.t.sol
  tests/fork/tokens/USDT.t.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: rename script file names
  script/DeployBatchLockup.s.sol
  script/DeployDeterministicBatchLockup.s.sol
  tests/fork/Fork.t.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt
