Repository sablier-labs/v2-core: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config ./.prettierrc.yaml --write, prettier --write, bun solhint {benchmark,precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

feat: refactor batch to revert and return values (#1126)
  src/abstracts/Batch.sol
  src/interfaces/IBatch.sol
  tests/integration/Integration.t.sol
  tests/integration/concrete/batch/batch.t.sol
  tests/integration/concrete/lockup-base/batch/batch.t.sol
  tests/integration/concrete/lockup-base/batch/batch.tree
  tests/integration/concrete/lockup-base/cancel/cancel.t.sol
  tests/integration/concrete/lockup-base/renounce-multiple/renounceMultiple.t.sol
  tests/integration/concrete/lockup-base/renounce-multiple/renounceMultiple.tree
  tests/integration/concrete/lockup-base/withdraw/withdraw.t.sol
  tests/integration/concrete/lockup-dynamic/LockupDynamic.t.sol
  tests/integration/concrete/lockup-linear/LockupLinear.t.sol
  tests/integration/concrete/lockup-tranched/LockupTranched.t.sol
  tests/integration/fuzz/lockup-dynamic/LockupDynamic.t.sol
  tests/integration/fuzz/lockup-linear/LockupLinear.t.sol
  tests/integration/fuzz/lockup-tranched/LockupTranched.t.sol
  tests/mocks/BatchMock.sol
  tests/unit/concrete/batch/batch.t.sol
  tests/unit/concrete/batch/batch.tree
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: add blockTimestamp param in VestingMath functions
  src/LockupNFTDescriptor.sol
  src/SablierLockup.sol
  src/interfaces/ISablierLockup.sol
  src/interfaces/ISablierLockupBase.sol
  src/libraries/VestingMath.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: make husky file executable
  .husky/pre-commit
Due: none

docs: fix typos
  benchmark/LockupDynamic.Gas.t.sol
  benchmark/LockupLinear.Gas.t.sol
  benchmark/LockupTranched.Gas.t.sol
  benchmark/results/SablierLockup_Dynamic.md
  benchmark/results/SablierLockup_Linear.md
  benchmark/results/SablierLockup_Tranched.md
  src/SablierLockup.sol
Due: prettier --config ./.prettierrc.yaml --write, prettier --write, bun solhint {benchmark,precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

feat: add support for abstract chain
  bun.lockb
  deploy/deploy.ts
  hardhat.config.ts
  package.json
Due: prettier --write

docs: polish natspec
  src/interfaces/ISablierLockupBase.sol
  src/libraries/VestingMath.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: move logic in VestingMath
  src/SablierLockup.sol
  src/libraries/VestingMath.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: make husky file executable (#1133)
  .husky/pre-commit
Due: none

docs: polish assumptions
  src/libraries/VestingMath.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: use unchecked and casting in calculateStreamedPercentage
  src/LockupNFTDescriptor.sol
  src/SablierLockup.sol
  src/libraries/VestingMath.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

Address audit findings 3, 5, and 11 (#1131)
  benchmark/LockupDynamic.Gas.t.sol
  benchmark/LockupLinear.Gas.t.sol
  benchmark/LockupTranched.Gas.t.sol
  benchmark/results/SablierLockup_Dynamic.md
  benchmark/results/SablierLockup_Linear.md
  benchmark/results/SablierLockup_Tranched.md
  src/LockupNFTDescriptor.sol
  src/SablierLockup.sol
  src/interfaces/ISablierLockup.sol
  src/interfaces/ISablierLockupBase.sol
  src/libraries/VestingMath.sol
Due: prettier --config ./.prettierrc.yaml --write, prettier --write, bun solhint {benchmark,precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: add startTime as input argument in Helpers functions
  .gitignore
  src/SablierLockup.sol
  src/libraries/Helpers.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: drop unchecked from cliff and end calculations
  src/SablierLockup.sol
  tests/integration/concrete/lockup-linear/create-with-durations-ll/createWithDurationsLL.t.sol
  tests/integration/concrete/lockup-linear/create-with-durations-ll/createWithDurationsLL.tree
  tests/integration/fuzz/lockup-linear/createWithDurationsLL.t.sol
  tests/utils/Modifiers.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

fix: remove MetadataUpdate event from renounce functions docs: add MetadataUpdate event in create functions natspecs
  src/abstracts/SablierLockupBase.sol
  src/interfaces/ISablierLockup.sol
  src/interfaces/ISablierLockupBase.sol
  tests/integration/concrete/lockup-base/renounce-multiple/renounceMultiple.t.sol
  tests/integration/concrete/lockup-base/renounce-multiple/renounceMultiple.tree
  tests/integration/concrete/lockup-base/renounce/renounce.t.sol
  tests/integration/concrete/lockup-base/renounce/renounce.tree
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: polish comments
  src/SablierLockup.sol
  src/interfaces/ISablierLockup.sol
  src/interfaces/ISablierLockupBase.sol
  tests/integration/concrete/lockup-base/renounce-multiple/renounceMultiple.t.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

fix: address audit findings 4, 8, 10 (#1132)
  .gitignore
  src/SablierLockup.sol
  src/abstracts/SablierLockupBase.sol
  src/interfaces/ISablierLockup.sol
  src/interfaces/ISablierLockupBase.sol
  src/libraries/Helpers.sol
  tests/integration/concrete/lockup-base/renounce-multiple/renounceMultiple.t.sol
  tests/integration/concrete/lockup-base/renounce-multiple/renounceMultiple.tree
  tests/integration/concrete/lockup-base/renounce/renounce.t.sol
  tests/integration/concrete/lockup-base/renounce/renounce.tree
  tests/integration/concrete/lockup-linear/create-with-durations-ll/createWithDurationsLL.t.sol
  tests/integration/concrete/lockup-linear/create-with-durations-ll/createWithDurationsLL.tree
  tests/integration/fuzz/lockup-linear/createWithDurationsLL.t.sol
  tests/utils/Modifiers.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: add one more assumptions in VestingMath :
  src/libraries/VestingMath.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: use simultaneously compilation
  .github/workflows/ci-deep.yml
  .github/workflows/ci-fork.yml
  .github/workflows/ci.yml
  .gitignore
  .prettierignore
  foundry.toml
  package.json
  precompiles/Precompiles.sol
  shell/prepare-artifacts.sh
  shell/update-counts.sh
  shell/update-precompiles.sh
  tests/Base.t.sol
  tests/unit/shared/Adminable.t.sol
  tests/utils/DeployOptimized.sol
  tests/utils/Precompiles.t.sol
  tests/utils/Utils.sol
Due: prettier --config ./.prettierrc.yaml --write, prettier --write, bun solhint {benchmark,precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

ci: include this branch in the CI
  .github/workflows/ci.yml
Due: prettier --config ./.prettierrc.yaml --write, prettier --write

Update README.md
  README.md
Due: prettier --config ./.prettierrc.yaml --write, prettier --write

docs: readme (#1138)
  README.md
Due: prettier --config ./.prettierrc.yaml --write, prettier --write

docs: polish assumptions in VestingMath (#1136)
  src/libraries/VestingMath.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: nitpicks
  src/libraries/Errors.sol
  src/libraries/Helpers.sol
  src/libraries/VestingMath.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: last polishes for assumptions
  src/libraries/VestingMath.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: update links in DeploymentLogger
  script/DeploymentLogger.s.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: move all allowedToHook calls in Integration contract
  tests/integration/Integration.t.sol
  tests/integration/concrete/batch/batch.t.sol
  tests/integration/concrete/lockup-base/allow-to-hook/allowToHook.t.sol
  tests/integration/concrete/lockup-base/cancel/cancel.t.sol
  tests/integration/concrete/lockup-base/getters/getters.t.sol
  tests/integration/concrete/lockup-base/withdraw-hooks/withdrawHooks.t.sol
  tests/integration/concrete/lockup-base/withdraw/withdraw.t.sol
  tests/integration/fuzz/lockup-base/cancel.t.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: move all allowedToHook calls in Integration contract (#1141)
  tests/integration/Integration.t.sol
  tests/integration/concrete/batch/batch.t.sol
  tests/integration/concrete/lockup-base/allow-to-hook/allowToHook.t.sol
  tests/integration/concrete/lockup-base/cancel/cancel.t.sol
  tests/integration/concrete/lockup-base/getters/getters.t.sol
  tests/integration/concrete/lockup-base/withdraw-hooks/withdrawHooks.t.sol
  tests/integration/concrete/lockup-base/withdraw/withdraw.t.sol
  tests/integration/fuzz/lockup-base/cancel.t.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

Path conditions:
  prettier --config ./.prettierrc.yaml --write: any of: *.{md,sol,toml,yaml,yml}
  prettier --write: any of: *.{json,md,svg,yml}
  bun solhint {benchmark,precompiles,script,src,tests}/**/*.sol --fix --noPrompt: any of: *.sol
  forge fmt: any of: *.sol
