Repository sablier-labs/v2-core: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config ./.prettierrc.yaml --write, prettier --write, bun solhint {benchmark,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: use shorter form to represent large number
  tests/fork/Fork.t.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: use mainnet addresses in fork tests (#1165)
  script/DeployBatchLockup.s.sol
  script/DeployDeterministicBatchLockup.s.sol
  script/DeployDeterministicLockup.s.sol
  script/DeployDeterministicNFTDescriptor.s.sol
  script/DeployDeterministicProtocol.s.sol
  script/DeployLockup.s.sol
  script/DeployNFTDescriptor.s.sol
  script/DeployProtocol.s.sol
  script/GenerateSVG.s.sol
  tests/fork/Fork.t.sol
  tests/fork/LockupDynamic.t.sol
  tests/fork/LockupLinear.t.sol
  tests/fork/LockupTranched.t.sol
  tests/fork/tokens/DAI.t.sol
  tests/fork/tokens/EURS.t.sol
  tests/fork/tokens/SHIB.t.sol
  tests/fork/tokens/USDC.t.sol
  tests/fork/tokens/USDT.t.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: update benchmarks
  benchmark/BatchLockup.Gas.t.sol
  benchmark/Benchmark.t.sol
  benchmark/LockupDynamic.Gas.t.sol
  benchmark/LockupLinear.Gas.t.sol
  benchmark/LockupTranched.Gas.t.sol
  benchmark/results/SablierBatchLockup.md
  benchmark/results/SablierLockup_Dynamic.md
  benchmark/results/SablierLockup_Linear.md
  benchmark/results/SablierLockup_Tranched.md
  script/Init.s.sol
  src/libraries/Errors.sol
  tests/fork/LockupLinear.t.sol
  tests/integration/concrete/lockup-base/create-with-timestamps/createWithTimestamps.t.sol
  tests/integration/fuzz/lockup-dynamic/createWithDurationsLD.t.sol
  tests/integration/fuzz/lockup-dynamic/withdrawableAmountOf.t.sol
  tests/integration/fuzz/lockup-tranched/withdrawableAmountOf.t.sol
  tests/utils/Fuzzers.sol
Due: prettier --config ./.prettierrc.yaml --write, prettier --write, bun solhint {benchmark,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: correct spelling
  src/types/DataTypes.sol
  tests/fork/Fork.t.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: polishes
  tests/integration/fuzz/lockup-dynamic/createWithTimestampsLD.t.sol
  tests/integration/fuzz/lockup-tranched/createWithTimestampsLT.t.sol
  tests/utils/Defaults.sol
  tests/utils/Fuzzers.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

tests: use relative path in Utility contracts
  tests/utils/BatchLockupBuilder.sol
  tests/utils/Modifiers.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: update changelog and bump npm version
  CHANGELOG.md
  package.json
  tests/utils/.npmignore
Due: prettier --config ./.prettierrc.yaml --write, prettier --write

test: use 2.0.1 in BaseScript.t.sol
  tests/utils/BaseScript.t.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: rename DeployOptimized.sol to DeployOptimized.t.sol
  tests/Base.t.sol
  tests/utils/.npmignore
  tests/utils/DeployOptimized.t.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: update changelog
  CHANGELOG.md
Due: prettier --config ./.prettierrc.yaml --write, prettier --write

tests: use relative path in utils contracts (#1169)
  CHANGELOG.md
  package.json
  tests/Base.t.sol
  tests/utils/BaseScript.t.sol
  tests/utils/BatchLockupBuilder.sol
  tests/utils/DeployOptimized.t.sol
  tests/utils/Modifiers.sol
Due: prettier --config ./.prettierrc.yaml --write, prettier --write, bun solhint {benchmark,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: small changes
  src/types/DataTypes.sol
  tests/fork/Fork.t.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: increase coverage
  tests/integration/concrete/lockup-dynamic/create-with-timestamps-ld/createWithTimestampsLD.t.sol
  tests/integration/concrete/lockup-dynamic/create-with-timestamps-ld/createWithTimestampsLD.tree
  tests/integration/concrete/lockup-tranched/create-with-timestamps-lt/createWithTimestampsLT.t.sol
  tests/integration/concrete/lockup-tranched/create-with-timestamps-lt/createWithTimestampsLT.tree
  tests/utils/Modifiers.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

feat: return refunded amounts in cancel functions
  src/abstracts/SablierLockupBase.sol
  src/interfaces/ISablierLockupBase.sol
  tests/fork/LockupDynamic.t.sol
  tests/fork/LockupLinear.t.sol
  tests/fork/LockupTranched.t.sol
  tests/integration/concrete/batch/batch.t.sol
  tests/integration/concrete/lockup-base/cancel-multiple/cancelMultiple.t.sol
  tests/integration/concrete/lockup-base/cancel-multiple/cancelMultiple.tree
  tests/integration/concrete/lockup-base/cancel/cancel.t.sol
  tests/integration/concrete/lockup-base/cancel/cancel.tree
  tests/integration/fuzz/lockup-base/cancel.t.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

ci: run fork tests on 2 days a week
  .github/workflows/ci-fork.yml
Due: prettier --config ./.prettierrc.yaml --write, prettier --write

feat: make cancelMultiple non-reverting
  src/abstracts/SablierLockupBase.sol
  src/interfaces/ISablierLockupBase.sol
  tests/integration/concrete/lockup-base/cancel-multiple/cancelMultiple.t.sol
  tests/integration/concrete/lockup-base/cancel-multiple/cancelMultiple.tree
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

ci: run fork tests on 2 days a week (#1174)
  .github/workflows/ci-fork.yml
Due: prettier --config ./.prettierrc.yaml --write, prettier --write

docs: polish natspec
  src/abstracts/SablierLockupBase.sol
  src/interfaces/ISablierLockupBase.sol
  tests/integration/concrete/batch/batch.t.sol
  tests/integration/concrete/lockup-base/cancel/cancel.t.sol
  tests/integration/concrete/lockup-base/cancel/cancel.tree
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: remove defaults in prettier config
  .prettierrc.yml
Due: prettier --config ./.prettierrc.yaml --write, prettier --write

address shub's feedback
  script/MaxCount.s.sol
  tests/integration/concrete/constructor.t.sol
  tests/utils/BaseScript.t.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: update commit
  bun.lockb
  package.json
  tests/Base.t.sol
  tests/utils/Defaults.sol
Due: prettier --config ./.prettierrc.yaml --write, prettier --write, bun solhint {benchmark,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: use UTC for feb 1 constant
  tests/utils/Defaults.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: fix 1 FEB 2025 epoch timestamp
  tests/utils/Defaults.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

feat: return value in cancel and make cancelMultiple non-reverting (#1173)
  src/abstracts/SablierLockupBase.sol
  src/interfaces/ISablierLockupBase.sol
  tests/fork/LockupDynamic.t.sol
  tests/fork/LockupLinear.t.sol
  tests/fork/LockupTranched.t.sol
  tests/integration/concrete/batch/batch.t.sol
  tests/integration/concrete/lockup-base/cancel-multiple/cancelMultiple.t.sol
  tests/integration/concrete/lockup-base/cancel-multiple/cancelMultiple.tree
  tests/integration/concrete/lockup-base/cancel/cancel.t.sol
  tests/integration/concrete/lockup-base/cancel/cancel.tree
  tests/integration/fuzz/lockup-base/cancel.t.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: bump evm-utils
  bun.lockb
  package.json
Due: prettier --write

test(refactor): StreamIDs struct in Types
  tests/Base.t.sol
  tests/integration/Integration.t.sol
  tests/integration/concrete/batch/batch.t.sol
  tests/integration/concrete/lockup-base/burn/burn.t.sol
  tests/integration/concrete/lockup-base/cancel-multiple/cancelMultiple.t.sol
  tests/integration/concrete/lockup-base/cancel/cancel.t.sol
  tests/integration/concrete/lockup-base/collect-fees/collectFees.t.sol
  tests/integration/concrete/lockup-base/getters/getters.t.sol
  tests/integration/concrete/lockup-base/refundable-amount-of/refundableAmountOf.t.sol
  tests/integration/concrete/lockup-base/renounce-multiple/renounceMultiple.t.sol
  tests/integration/concrete/lockup-base/renounce/renounce.t.sol
  tests/integration/concrete/lockup-base/set-nft-descriptor/setNFTDescriptor.t.sol
  tests/integration/concrete/lockup-base/status-of/statusOf.t.sol
  tests/integration/concrete/lockup-base/streamed-amount-of/streamedAmountOf.t.sol
  tests/integration/concrete/lockup-base/token-uri/tokenURI.t.sol
  tests/integration/concrete/lockup-base/transfer-from/transferFrom.t.sol
  tests/integration/concrete/lockup-base/withdraw-max-and-transfer/withdrawMaxAndTransfer.t.sol
  tests/integration/concrete/lockup-base/withdraw-max/withdrawMax.t.sol
  tests/integration/concrete/lockup-base/withdraw/withdraw.t.sol
  tests/integration/concrete/lockup-base/withdrawable-amount-of/withdrawableAmountOf.t.sol
  tests/integration/concrete/lockup-dynamic/get-segments/getSegments.t.sol
  tests/integration/concrete/lockup-dynamic/streamed-amount-of/streamedAmountOf.t.sol
  tests/integration/concrete/lockup-dynamic/withdrawable-amount-of/withdrawableAmountOf.t.sol
  tests/integration/concrete/lockup-linear/get-cliff-time/getCliffTime.t.sol
  tests/integration/concrete/lockup-linear/get-unlock-amounts/getUnlockAmounts.t.sol
  tests/integration/concrete/lockup-linear/streamed-amount-of/streamedAmountOf.t.sol
  tests/integration/concrete/lockup-linear/withdrawable-amount-of/withdrawableAmountOf.t.sol
  tests/integration/concrete/lockup-tranched/get-tranches/getTranches.t.sol
  tests/integration/concrete/lockup-tranched/streamed-amount-of/streamedAmountOf.t.sol
  tests/integration/concrete/lockup-tranched/withdrawable-amount-of/withdrawableAmountOf.t.sol
  tests/integration/fuzz/lockup-base/cancel.t.sol
  tests/integration/fuzz/lockup-base/refundableAmountOf.t.sol
  tests/integration/fuzz/lockup-base/withdraw.t.sol
  tests/integration/fuzz/lockup-base/withdrawMax.t.sol
  tests/integration/fuzz/lockup-base/withdrawMaxAndTransfer.t.sol
  tests/integration/fuzz/lockup-dynamic/withdrawableAmountOf.t.sol
  tests/integration/fuzz/lockup-linear/withdrawableAmountOf.t.sol
  tests/utils/Types.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: use shorter name for the stream ids
  tests/Base.t.sol
  tests/integration/Integration.t.sol
  tests/integration/concrete/batch/batch.t.sol
  tests/integration/concrete/lockup-base/burn/burn.t.sol
  tests/integration/concrete/lockup-base/cancel-multiple/cancelMultiple.t.sol
  tests/integration/concrete/lockup-base/cancel/cancel.t.sol
  tests/integration/concrete/lockup-base/collect-fees/collectFees.t.sol
  tests/integration/concrete/lockup-base/getters/getters.t.sol
  tests/integration/concrete/lockup-base/refundable-amount-of/refundableAmountOf.t.sol
  tests/integration/concrete/lockup-base/renounce-multiple/renounceMultiple.t.sol
  tests/integration/concrete/lockup-base/renounce/renounce.t.sol
  tests/integration/concrete/lockup-base/set-nft-descriptor/setNFTDescriptor.t.sol
  tests/integration/concrete/lockup-base/status-of/statusOf.t.sol
  tests/integration/concrete/lockup-base/streamed-amount-of/streamedAmountOf.t.sol
  tests/integration/concrete/lockup-base/token-uri/tokenURI.t.sol
  tests/integration/concrete/lockup-base/transfer-from/transferFrom.t.sol
  tests/integration/concrete/lockup-base/withdraw-max-and-transfer/withdrawMaxAndTransfer.t.sol
  tests/integration/concrete/lockup-base/withdraw-max/withdrawMax.t.sol
  tests/integration/concrete/lockup-base/withdraw-multiple/withdrawMultiple.t.sol
  tests/integration/concrete/lockup-base/withdraw/withdraw.t.sol
  tests/integration/concrete/lockup-base/withdrawable-amount-of/withdrawableAmountOf.t.sol
  tests/integration/concrete/lockup-dynamic/get-segments/getSegments.t.sol
  tests/integration/concrete/lockup-dynamic/streamed-amount-of/streamedAmountOf.t.sol
  tests/integration/concrete/lockup-dynamic/withdrawable-amount-of/withdrawableAmountOf.t.sol
  tests/integration/concrete/lockup-linear/get-cliff-time/getCliffTime.t.sol
  tests/integration/concrete/lockup-linear/get-unlock-amounts/getUnlockAmounts.t.sol
  tests/integration/concrete/lockup-linear/streamed-amount-of/streamedAmountOf.t.sol
  tests/integration/concrete/lockup-linear/withdrawable-amount-of/withdrawableAmountOf.t.sol
  tests/integration/concrete/lockup-tranched/get-tranches/getTranches.t.sol
  tests/integration/concrete/lockup-tranched/streamed-amount-of/streamedAmountOf.t.sol
  tests/integration/concrete/lockup-tranched/withdrawable-amount-of/withdrawableAmountOf.t.sol
  tests/integration/fuzz/lockup-base/cancel.t.sol
  tests/integration/fuzz/lockup-base/refundableAmountOf.t.sol
  tests/integration/fuzz/lockup-base/withdraw.t.sol
  tests/integration/fuzz/lockup-base/withdrawMax.t.sol
  tests/integration/fuzz/lockup-base/withdrawMaxAndTransfer.t.sol
  tests/integration/fuzz/lockup-dynamic/withdrawableAmountOf.t.sol
  tests/integration/fuzz/lockup-linear/withdrawableAmountOf.t.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test(refactor): StreamIDs struct in Types (#1175)
  tests/Base.t.sol
  tests/integration/Integration.t.sol
  tests/integration/concrete/batch/batch.t.sol
  tests/integration/concrete/lockup-base/burn/burn.t.sol
  tests/integration/concrete/lockup-base/cancel-multiple/cancelMultiple.t.sol
  tests/integration/concrete/lockup-base/cancel/cancel.t.sol
  tests/integration/concrete/lockup-base/collect-fees/collectFees.t.sol
  tests/integration/concrete/lockup-base/getters/getters.t.sol
  tests/integration/concrete/lockup-base/refundable-amount-of/refundableAmountOf.t.sol
  tests/integration/concrete/lockup-base/renounce-multiple/renounceMultiple.t.sol
  tests/integration/concrete/lockup-base/renounce/renounce.t.sol
  tests/integration/concrete/lockup-base/set-nft-descriptor/setNFTDescriptor.t.sol
  tests/integration/concrete/lockup-base/status-of/statusOf.t.sol
  tests/integration/concrete/lockup-base/streamed-amount-of/streamedAmountOf.t.sol
  tests/integration/concrete/lockup-base/token-uri/tokenURI.t.sol
  tests/integration/concrete/lockup-base/transfer-from/transferFrom.t.sol
  tests/integration/concrete/lockup-base/withdraw-max-and-transfer/withdrawMaxAndTransfer.t.sol
  tests/integration/concrete/lockup-base/withdraw-max/withdrawMax.t.sol
  tests/integration/concrete/lockup-base/withdraw-multiple/withdrawMultiple.t.sol
  tests/integration/concrete/lockup-base/withdraw/withdraw.t.sol
  tests/integration/concrete/lockup-base/withdrawable-amount-of/withdrawableAmountOf.t.sol
  tests/integration/concrete/lockup-dynamic/get-segments/getSegments.t.sol
  tests/integration/concrete/lockup-dynamic/streamed-amount-of/streamedAmountOf.t.sol
  tests/integration/concrete/lockup-dynamic/withdrawable-amount-of/withdrawableAmountOf.t.sol
  tests/integration/concrete/lockup-linear/get-cliff-time/getCliffTime.t.sol
  tests/integration/concrete/lockup-linear/get-unlock-amounts/getUnlockAmounts.t.sol
  tests/integration/concrete/lockup-linear/streamed-amount-of/streamedAmountOf.t.sol
  tests/integration/concrete/lockup-linear/withdrawable-amount-of/withdrawableAmountOf.t.sol
  tests/integration/concrete/lockup-tranched/get-tranches/getTranches.t.sol
  tests/integration/concrete/lockup-tranched/streamed-amount-of/streamedAmountOf.t.sol
  tests/integration/concrete/lockup-tranched/withdrawable-amount-of/withdrawableAmountOf.t.sol
  tests/integration/fuzz/lockup-base/cancel.t.sol
  tests/integration/fuzz/lockup-base/refundableAmountOf.t.sol
  tests/integration/fuzz/lockup-base/withdraw.t.sol
  tests/integration/fuzz/lockup-base/withdrawMax.t.sol
  tests/integration/fuzz/lockup-base/withdrawMaxAndTransfer.t.sol
  tests/integration/fuzz/lockup-dynamic/withdrawableAmountOf.t.sol
  tests/integration/fuzz/lockup-linear/withdrawableAmountOf.t.sol
  tests/utils/Types.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: remove benchmarks
  .lintstagedrc.yml
  benchmark/BatchLockup.Gas.t.sol
  benchmark/Benchmark.t.sol
  benchmark/EstimateMaxCount.t.sol
  benchmark/LockupDynamic.Gas.t.sol
  benchmark/LockupLinear.Gas.t.sol
  benchmark/LockupTranched.Gas.t.sol
  benchmark/results/SablierBatchLockup.md
  benchmark/results/SablierLockup_Dynamic.md
  benchmark/results/SablierLockup_Linear.md
  benchmark/results/SablierLockup_Tranched.md
  foundry.toml
  package.json
  shell/update-counts.sh
  tests/Base.t.sol
  tests/utils/EstimateMaxCount.sol
  tests/utils/Utils.sol
Due: prettier --config ./.prettierrc.yaml --write, prettier --write, bun solhint {benchmark,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: rename VestingMath to StreamingMath
  shell/prepare-artifacts.sh
  src/SablierLockup.sol
  src/libraries/StreamingMath.sol
  src/types/DataTypes.sol
  tests/utils/Calculations.sol
  tests/utils/DeployOptimized.t.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: rename functions to use short form
  src/SablierLockup.sol
  src/libraries/Helpers.sol
  src/libraries/StreamingMath.sol
  tests/fork/LockupLinear.t.sol
  tests/integration/concrete/lockup-linear/streamed-amount-of/streamedAmountOf.t.sol
  tests/integration/fuzz/lockup-dynamic/streamedAmountOf.t.sol
  tests/integration/fuzz/lockup-dynamic/withdrawableAmountOf.t.sol
  tests/integration/fuzz/lockup-linear/streamedAmountOf.t.sol
  tests/integration/fuzz/lockup-linear/withdrawableAmountOf.t.sol
  tests/integration/fuzz/lockup-tranched/streamedAmountOf.t.sol
  tests/integration/fuzz/lockup-tranched/withdrawableAmountOf.t.sol
  tests/utils/Calculations.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: replace Longer form with Shorter form
  script/Init.s.sol
  src/SablierLockup.sol
  src/interfaces/ISablierBatchLockup.sol
  src/interfaces/ISablierLockup.sol
  src/libraries/Helpers.sol
  src/libraries/StreamingMath.sol
  src/types/DataTypes.sol
  tests/fork/LockupDynamic.t.sol
  tests/fork/LockupLinear.t.sol
  tests/fork/LockupTranched.t.sol
  tests/integration/fuzz/lockup-dynamic/createWithDurationsLD.t.sol
  tests/integration/fuzz/lockup-dynamic/createWithTimestampsLD.t.sol
  tests/integration/fuzz/lockup-tranched/createWithDurationsLT.t.sol
  tests/integration/fuzz/lockup-tranched/createWithTimestampsLT.t.sol
  tests/invariant/Invariant.t.sol
Due: prettier --config ./.prettierrc.yaml --write, bun solhint {benchmark,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: remove benchmarks (#1176)
  .lintstagedrc.yml
  benchmark/BatchLockup.Gas.t.sol
  benchmark/Benchmark.t.sol
  benchmark/EstimateMaxCount.t.sol
  benchmark/LockupDynamic.Gas.t.sol
  benchmark/LockupLinear.Gas.t.sol
  benchmark/LockupTranched.Gas.t.sol
  benchmark/results/SablierBatchLockup.md
  benchmark/results/SablierLockup_Dynamic.md
  benchmark/results/SablierLockup_Linear.md
  benchmark/results/SablierLockup_Tranched.md
  foundry.toml
  package.json
  shell/update-counts.sh
  tests/Base.t.sol
  tests/utils/EstimateMaxCount.sol
  tests/utils/Utils.sol
Due: prettier --config ./.prettierrc.yaml --write, prettier --write, bun solhint {benchmark,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: refactor fork tests
  .solhint.json
  tests/fork/Fork.t.sol
  tests/fork/Lockup.t.sol
  tests/fork/LockupDynamic.t.sol
  tests/fork/LockupLinear.t.sol
  tests/fork/LockupTranched.t.sol
  tests/integration/concrete/lockup-dynamic/create-with-durations-ld/createWithDurationsLD.t.sol
  tests/integration/concrete/lockup-dynamic/create-with-timestamps-ld/createWithTimestampsLD.t.sol
  tests/integration/concrete/lockup-linear/create-with-durations-ll/createWithDurationsLL.t.sol
  tests/integration/concrete/lockup-linear/create-with-timestamps-ll/createWithTimestampsLL.t.sol
  tests/integration/concrete/lockup-tranched/create-with-durations-lt/createWithDurationsLT.t.sol
  tests/integration/concrete/lockup-tranched/create-with-timestamps-lt/createWithTimestampsLT.t.sol
  tests/integration/fuzz/lockup-dynamic/createWithDurationsLD.t.sol
  tests/integration/fuzz/lockup-dynamic/createWithTimestampsLD.t.sol
  tests/integration/fuzz/lockup-linear/createWithDurationsLL.t.sol
  tests/integration/fuzz/lockup-linear/createWithTimestampsLL.t.sol
  tests/integration/fuzz/lockup-tranched/createWithDurationsLT.t.sol
  tests/integration/fuzz/lockup-tranched/createWithTimestampsLT.t.sol
  tests/utils/Assertions.sol
  tests/utils/Calculations.sol
  tests/utils/Defaults.sol
  tests/utils/EstimateMaxCount.sol
Due: prettier --config ./.prettierrc.yaml --write, prettier --write, bun solhint {benchmark,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: update BTT section
  README.md
Due: prettier --config ./.prettierrc.yaml --write, prettier --write

Path conditions:
  prettier --config ./.prettierrc.yaml --write: any of: *.{md,sol,toml,yaml,yml}
  prettier --write: any of: *.{json,md,svg,yml}
  bun solhint {benchmark,script,src,tests}/**/*.sol --fix --noPrompt: any of: *.sol
  forge fmt: any of: *.sol
